<p>US Dollar: {{ value| currency: 'USD' }} --> {{ value| currency: 'USD': true }}</p>
<p>US Dollar: {{ value| currency: 'EUR' }} --> {{ value| currency: 'EUR': true }}</p>
<p>US Dollar: {{ value| currency: 'GBP' }} --> {{ value| currency: 'GBP': true }}</p>
<p>US Dollar: {{ value| currency: 'INR' }} --> {{ value| currency: 'INR': true }}</p>
<p>US Dollar: {{ value| currency: 'AUD' }} --> {{ value| currency: 'AUD': true }}</p>
<p>US Dollar: {{ value| currency: 'CNY' }} --> {{ value| currency: 'CNY': true }}</p>
