<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Otters</title>
	</head>
	<body>
		<p><%= otter.name %></p>
		<form action = "/otters/<%= otter.id %>" method = "post">
			<label for="name">Name:</label>
			<input id = "name" type = "text" name = "name" value = "<%= otter.name %>">
			<input type = "submit" value = "Submit">
		</form>
	</body>
</html>