<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Otters</title>
	</head>
	<body>
		<p>New Otter</p>
		<form action = "/otters" method = "post">
			<label for="name">Name:</label>
			<input id = "name" type = "text" name = "name">
			<input type = "submit" value = "Submit">
		</form>
	</body>
</html>