<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Message Board</title>
		<style>
			#wrapper{
				margin-left: auto;
				margin-right: auto;
				padding: 3px;
				border: 2px solid black;
			}
		</style>
	</head>
	<body>
		<h1>Conversation Board</h1>
		<div id = "wrapper">
			<p></p>
		</div>
		<form id = "message">
			<input id = "words" type = "text" name = "message">
			<input id = "name" type = "hidden" value = "<%= name %>" name = "name">
			<button type = "submit">Send</button>
		</form>
	</body>
</html>