<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Survey</title>
		<style>
			#wrapper{
				margin-left: auto;
				margin-right: auto;
				padding: 3px;
				width: 250px;
				height: 150px;
				border: 2px solid black;
			}
		</style>
	</head>
	<body>
		<div id = "wrapper">
			<form action = "/register" method = "post">
				<label for="name">Your Name:</label>
				<input id = "name" type = "text" name = "name">
				<input type = "submit" value = "Submit">
			</form>
		</div>
	</body>
</html>