<html>
<head>
<title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            // this triggers the connection event in our server!
            var socket = io.connect();
            socket.emit("init", {});
            // we'll write all the socket stuff after the above line!
            $('#update').click(function (){
				socket.emit("update", {});
			});
			$('#reset').click(function (){
				socket.emit("reset", {});
			});
			socket.on('increment', function (data){
				$("#count").html("<p>The button has been pushed " + data.response + " time(s)</p>");
			});
        })
    </script>
</head>
<body>
	<div id = "count">
		<p>The button has been pushed 0 time(s)</p>
	</div>
	<label for="button">Push the button to update the count!</label>
    <button id = "update">Push the ebin button</button>
    <button id = "reset">Reset count</button>
    <!-- web page goes here -->
</body>
</html>
 