<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Products</title>
	</head>
	<body>
		<h1>Products</h1>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{product.name}}</td>
						<td>{{product.description}}</td>
						<td>{{product.price}}</td>
						<td>
							<a href = "/products/{{product.id}}">Show</a>
							<form action = "/products/{{product.id}}/edit" method = "post">
								{% csrf_token %}
								<input type = "submit" value = "Edit">
							</form>
							<form action = "/products/{{product.id}}/destroy" method = "post">
								{% csrf_token %}
								<input type = "submit" value = "Remove">
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href = "/products/new">Add a new product</a>
	</body>
</html>